    path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
    }
    circle {
        stroke: black;
    }

    .graph > svg {
        border: 1px solid;
        border-color: #d3d3d3;
    }